
body {
    font-size: 32px;
    margin: 0;
}

.frase1, .frase2 {
    text-align: justify;
    width: 500px;
    padding: 20px; /*padding: margem interna do elemento */

    border: 3px solid red;
    background-color: yellow;
}

p {
    margin: 0;
}

.frase1 {
    /* margin: margem externa do elemento. 10px em cima e embaixo e 100px esquerda e direita
    margin: 10px 100px; */
    margin: 10px 0 100px 50px;
    /* margin: -100px; é possivel colocar uma margem negativa */  
}

.frase2 { /*a classe soprepoem as definições do elemento <p> acima por exemplo
    a margin de p foi sobreposta pela classe .frase2 - auto centraliza o elemento */
    margin: 0 auto;
} 